@model List<SalesTax.Models.LineItem>

@{
	ViewBag.Title = "Cart Contents";
}

@foreach (var item in Model)
{
	<div class=" card m-3">
		<div class=" card-header">
			<header>Cart Contents</header>
		</div>
		<!--<img class="c" src ="~/images/CallTheSuper.png"/>-->
		<div class="card-footer text-center">
			<a href="#" class="btn btn-primary">View </a>
			<a href="#" class="btn btn-primary">Edit </a>
			<a href="#" class="btn btn-danger">Delete </a>
		</div>
	</div>
}		