<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Index Page</title>
</head>
<body>
	<h3>Index Page</h3>
	<div>
		Id: @Model.Id
	</div>
	<div>
		Quantity: @Model.Quantity
	</div>
	<div>
		Unit Price: @Model.UnitPrice
	</div>
</body>
</html>
