<?xml version="1.0" encoding="utf-8" ?>
<nLog xmls="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<targets>
	<target name="allfile" xsi:type="File"
			fileName =" C:\Projects\SalesTax/\nlog-all-${shortdate}.log" />
</targets>

<rules>
	<logger name="*" minlevel="Trace" writeto="allfile" />
</rules>
</nLog>